header {
  border: 1px solid pink;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
  border: 1px solid pink;

        text-decoration: none;
        color: black;
        position: absolute;
        left: 20px;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 25px;
    }
  }
