$grey: rgb(248, 248, 248);
$violet: #9356dc;
$rose: #ff79da;
$vert: #99e2d0;
$marginBottom: 15px;
@keyframes transition-load {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
100% {
    opacity: 1;
  }
}
.imgAccueil img {
  position: absolute;
  width: 100%;
  height: 250px;
}
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  top: 190px;
  padding-bottom: 50px;
  .titreMenu {
    font-family: "Shrikhand", sans-serif;
    width: 90%;
    font-size: 25px;
    display: flex;
  }
  .coeurRestau {
    position: absolute;
    right: 18%;
    top: 30px;
    &:hover .fas {
      transform-origin: bottom 100%;
      transition: transform 400ms ease-in-out;
      transform: scale(1);
    }
    .far {
      position: absolute;
    }
    .fas {
      position: absolute;
      transform: scale(0);
    }
  }
  .bloc-menu {
    width: 90%;
    margin-bottom: 15px;
    .plats:nth-child(2) {
      animation: transition-load .8s;
    }
    .plats:nth-child(3) {
      animation: transition-load 1s;
    }
    .plats:nth-child(4) {
      animation: transition-load 2s;
    }
    .plats:nth-child(5) {
      animation: transition-load 3s;
    }
    p { 
      font-size: 15px;
      line-height: 0;
    }
    .souligne {
      background-color: $vert;
      width: 30px;
      height: 2px;
      margin-bottom: $marginBottom;
    }
    .plats {
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-radius: 20px;
      line-height: 0;
      padding: 2px 0px 5px 12px;
      margin-bottom: $marginBottom;
      box-shadow: 1px 5px 8px 0px rgb(221, 221, 221);
      transform: rotate(0turn);
      &:hover .transitionOk {
        transform-origin: right 100%;
        transition: transform 300ms ease-in-out;
        transform: scaleX(1);
      }
      &:hover .fa-check-circle {
        transform: rotate(2turn);
        transition: transform 400ms ease-in-out;
      }
      &:hover .prixDescriptif {
        transform: translate(-100px, 0);
        transition: transform 300ms ease-in-out;
      }
      &:hover .titreDescriptif {
        width: 50%;
      }
      .titreDescriptif {
        transform: scaleX(1);
        h5 {
          font-size: 14px;
          line-height: 1.2;
          white-space: nowrap;
        }
        p {
          font-size: 12px;
          line-height: 1.2;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .prixDescriptif {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px 20px 18px 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      .prix {
        font-size: 15px;
        font-weight: bold;
      }
      .transitionOk {
        background-color: $vert;
        width: 30%;
        height: 100%;
        position: absolute;
        right: 0%;
        top: 0%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transform: scaleX(0);
      }
      .fa-check-circle {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  input {
    border: none;
    outline: none;
    width: 180px;
    height: 50px;
    border-radius: 40px;
    color: white;
    margin-top: 15px;
    background: linear-gradient(to bottom right, $rose, $violet);
    box-shadow: 1px 5px 8px 0px rgb(221, 221, 221);
  }
}
#footerMenu {
  position: relative;
  top: 180px;
}
