body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
/* IMPORT .SCSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');
@import "header.scss";
@import "footer.scss"; 
@import "menu.scss";
/* LES VARIABLES */
$grey: rgb(248, 248, 248);
$violet: #9356dc;
$rose: #ff79da;
$vert: #99e2d0;
$marginMenu: 20px;
$marginLeftText: 10px; 
$box-shadow: 1px 5px 8px 0px rgb(233, 233, 233);
/* LES MIXIN */
@mixin lien_menu {
  a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    width: 60%;
  }
}
@mixin lien_restau {
  a {
    text-decoration: none;
    color: black;
  }
}
#section_recherche {
  .ville {
    display: flex;
    justify-content: center;
    background-color: darken($grey, 2%);
    padding: 5px;
    box-shadow: 0px 4px 3px -2px rgb(196, 196, 196) inset;
  }
  .ville input {
    border: none;
    background-color: darken($grey, 2%);
    outline: none;
    &::placeholder {
      color: rgb(49, 49, 49);
    }
  }
  .explorer {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0px 40px 0px;
    p {
      width: 70%;
      font-size: 13px;
    }
    input {
      border: none;
      outline: none;
      width: 200px;
      height: 40px;
      border-radius: 20px;
      color: white;
      margin-top: 15px;
      background: linear-gradient(to bottom right, $rose, $violet);
    }
  }
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include lien_menu();

}
#section_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  a {
    width: 80%;
    .menu {
      background-color: $grey;
      display: flex;
      align-items: center;
      border-radius: 12px;
      height: 60px;
      margin-bottom: $marginMenu;
      font-weight: bold;
      box-shadow: $box-shadow;
      &:hover {
        background-color: lighten($violet, 37%);
        box-shadow: 1px 5px 8px 0px rgb(209, 209, 209);
        &:hover i {
          color: $violet;
        }
      }
      .cercle {
        position: relative;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $violet;
        color: white;
        font-size: 12px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-right: $marginMenu;
        p {
          font-size: 11px;
        }
      }
      i {
        width: 20px;
        color: darken($grey, 30%);
        margin-right: $marginMenu;
      }
    }
  }
}
#section-restau {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  padding-top: 15px;
  padding-bottom: 50px;
}
.bloc-restau {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: $box-shadow;
  @include lien_restau();
  .imgRestau {
    display: inline-block;
    position: relative;
    img {
      width: 100%;
      height: 180px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .nouveau {
      background-color: $vert;
      text-align: center;
      font-size: 11px;
      width: 50px;
      padding: 1px;
      position: absolute;
      right: 4%;
      top: 8%;
    }
  }
  .infoRestau {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    line-height: 0px;
    .titreRestau {
      width: 80%;
    }
    p {
      font-size: 14px;
      margin-left: $marginLeftText;
    }
    h6 {
      font-weight: bold;
      font-size: 14px;
      margin-left: $marginLeftText;
    }
    i {
      position: absolute;
      right: 8%;
      top: 40%;
      &:hover {
        background-color: $rose;
        transition: background-color 1500ms;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  h4 {
    width: 90%;
    text-align: left;
  }
  .explorer h4 {
    text-align: center;
  }
}
