body {
  font-family: "Roboto-Light", sans-serif;
  margin: 0;
}

/* IMPORT .SCSS */
header {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}
header .logo {
  width: 150px;
}

/* LES VARIABLES */
/* LES MIXIN */
#section_recherche .ville {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 5px;
}
#section_recherche .ville input {
  border: none;
  background-color: #f3f3f3;
  outline: none;
}
#section_recherche .ville input::placeholder {
  color: #313131;
}
#section_recherche .explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 0px 20px 0px;
}
#section_recherche .explorer p {
  font-size: 13px;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
}
.explorer input {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  width: 60%;
}

#section_menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#section_menu .menu {
  background-color: #fac8ed1f;
  display: flex;
  align-items: center;
  border-radius: 12px;
  height: 45px;
  margin-bottom: 12px;
  font-weight: bold;
}
#section_menu .menu:hover {
  background-color: rgba(179, 16, 137, 0.1215686275);
}
#section_menu .menu:hover:hover i {
  color: #9356dc;
}
#section_menu .menu .cercle {
  position: relative;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
#section_menu .menu .cercle p {
  font-size: 10px;
}
#section_menu .menu i {
  color: #c5c5c5;
  margin-right: 12px;
}

#section-restau {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc-restau {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px 6px #e6e6e6;
}
.bloc-restau .imgRestau {
  display: inline-block;
  position: relative;
}
.bloc-restau .imgRestau img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bloc-restau .imgRestau .nouveau {
  background-color: #99e2d0;
  text-align: center;
  font-size: 11px;
  width: 50px;
  padding: 1px;
  position: absolute;
  right: 4%;
  top: 8%;
}
.bloc-restau .titreRestau {
  border: 1px solid pink;
  display: inline-block;
  position: relative;
  line-height: 0;
}
.bloc-restau .titreRestau p {
  font-size: 11px;
  margin-left: 5px;
}
.bloc-restau .titreRestau h6 {
  font-weight: bold;
  margin-left: 5px;
}
.bloc-restau .titreRestau i {
  position: absolute;
  right: 8%;
  top: 40%;
}

@media screen and (max-width: 460px) {
  h4 {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }

  .explorer h4 {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
