@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

/* IMPORT .SCSS */
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 20px;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 25px;
}

footer {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 20px;
}
footer .logo {
  font-family: "Shrikhand", cursive;
  padding-bottom: 10px;
  color: white;
}
footer .logo p {
  font-size: 16px;
}
footer p {
  color: white;
  font-size: 11px;
  line-height: 1px;
}
footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer a i {
  width: 20px;
  color: white;
}

.footerMenu {
  position: relative;
  top: 180px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@keyframes transition-load {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
  }
}
.imgAccueil img {
  width: 100%;
  height: 250px;
  position: absolute;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  top: 190px;
  padding-bottom: 50px;
}
#menu .titreMenu {
  font-family: "Shrikhand", sans-serif;
  width: 90%;
  font-size: 25px;
  display: flex;
}
#menu .coeurRestau {
  position: absolute;
  right: 18%;
  top: 30px;
}
#menu .coeurRestau:hover .fas {
  transform-origin: bottom 100%;
  transition: transform 400ms ease-in-out;
  transform: scale(1);
}
#menu .coeurRestau .far {
  position: absolute;
}
#menu .coeurRestau .fas {
  position: absolute;
  transform: scale(0);
}
#menu .bloc-menu {
  width: 90%;
  margin-bottom: 15px;
}
#menu .bloc-menu .plats:nth-child(2) {
  animation: transition-load 0.5s;
}
#menu .bloc-menu .plats:nth-child(3) {
  animation: transition-load 1s;
}
#menu .bloc-menu .plats:nth-child(4) {
  animation: transition-load 2s;
}
#menu .bloc-menu p {
  font-size: 15px;
  line-height: 0;
}
#menu .bloc-menu .souligne {
  background-color: #99e2d0;
  width: 30px;
  height: 2px;
  margin-bottom: 15px;
}
#menu .bloc-menu .plats {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  line-height: 0;
  padding: 2px 0px 5px 12px;
  margin-bottom: 15px;
  box-shadow: 1px 5px 8px 0px #dddddd;
  transform: rotate(0turn);
}
#menu .bloc-menu .plats:hover .transitionOk {
  transform-origin: right 100%;
  transition: transform 300ms ease-in-out;
  transform: scaleX(1);
}
#menu .bloc-menu .plats:hover .fa-check-circle {
  transform: rotate(2turn);
  transition: transform 400ms ease-in-out;
}
#menu .bloc-menu .plats:hover .prixDescriptif {
  transform: translate(-100px, 0);
  transition: transform 300ms ease-in-out;
}
#menu .bloc-menu .plats:hover .titreDescriptif {
  width: 50%;
}
#menu .bloc-menu .plats .titreDescriptif {
  transform: scaleX(1);
}
#menu .bloc-menu .plats .titreDescriptif h5 {
  font-size: 14px;
  line-height: 1.2;
  white-space: nowrap;
}
#menu .bloc-menu .plats .titreDescriptif p {
  font-size: 12px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .bloc-menu .plats .prixDescriptif {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 20px 18px 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#menu .bloc-menu .plats .prix {
  font-size: 15px;
  font-weight: bold;
}
#menu .bloc-menu .plats .transitionOk {
  background-color: #99e2d0;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleX(0);
}
#menu .bloc-menu .plats .fa-check-circle {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#menu input {
  border: none;
  outline: none;
  width: 180px;
  height: 50px;
  border-radius: 40px;
  color: white;
  margin-top: 15px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 1px 5px 8px 0px #dddddd;
}

#footerMenu {
  position: relative;
  top: 180px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.loader {
  font-size: 10px;
  position: absolute;
  top: 50%;
  border-top: 4px solid #f1f1f1;
  border-right: 4px solid #f1f1f1;
  border-bottom: 4px solid #f1f1f1;
  border-left: 4px solid #99e2d0;
  transform: translateZ(0);
  animation: spinner 0.6s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* LES VARIABLES */
/* LES MIXIN */
#section_recherche .ville {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 5px;
  box-shadow: 0px 4px 3px -2px #c4c4c4 inset;
}
#section_recherche .ville input {
  border: none;
  background-color: #f3f3f3;
  outline: none;
}
#section_recherche .ville input::placeholder {
  color: #313131;
}
#section_recherche .explorer {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0px 40px 0px;
}
#section_recherche .explorer p {
  width: 70%;
  font-size: 13px;
}
#section_recherche .explorer input {
  border: none;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: white;
  margin-top: 15px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 1px 5px 8px 0px #dddddd;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  width: 60%;
}

#section_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
#section_menu a {
  width: 80%;
}
#section_menu a .menu {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  box-shadow: 1px 5px 8px 0px #e4e4e4;
}
#section_menu a .menu:hover {
  background-color: #f7f2fc;
  box-shadow: 1px 5px 8px 0px #d1d1d1;
}
#section_menu a .menu:hover:hover i {
  color: #9356dc;
}
#section_menu a .menu .cercle {
  position: relative;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
#section_menu a .menu .cercle p {
  font-size: 11px;
}
#section_menu a .menu i {
  width: 20px;
  color: #acacac;
  margin-right: 20px;
}

#section-restau {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 50px;
}

.bloc-restau {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 5px 8px 0px #e4e4e4;
}
.bloc-restau a {
  text-decoration: none;
  color: black;
}
.bloc-restau .imgRestau {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.bloc-restau .imgRestau img {
  width: 100%;
  height: 110%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bloc-restau .imgRestau .nouveau {
  background-color: #99e2d0;
  text-align: center;
  font-size: 11px;
  width: 50px;
  padding: 1px;
  position: absolute;
  right: 4%;
  top: 8%;
}
.bloc-restau .infoRestau {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  line-height: 0px;
}
.bloc-restau .infoRestau .titreRestau {
  width: 80%;
}
.bloc-restau .infoRestau p {
  font-size: 14px;
  margin-left: 10px;
}
.bloc-restau .infoRestau h6 {
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}
.bloc-restau .infoRestau .coeurRestau {
  position: absolute;
  right: 8%;
  top: 40%;
}
.bloc-restau .infoRestau .coeurRestau:hover .fas {
  transform-origin: bottom 100%;
  transition: transform 400ms ease-in-out;
  transform: scale(1);
}
.bloc-restau .infoRestau .coeurRestau .far {
  position: absolute;
}
.bloc-restau .infoRestau .coeurRestau .fas {
  position: absolute;
  transform: scale(0);
}

@media screen and (max-width: 460px) {
  h4 {
    width: 90%;
    text-align: left;
  }

  .explorer h4 {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
